header .nav {
  background-color: #2d88d8;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .nav .logo {
    width: 70px; }
  header .nav .menu {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center; }
    header .nav .menu .boton {
      padding: 10px;
      margin: 10px; }
      header .nav .menu .boton:hover {
        background-color: #333232;
        border-radius: 0.7em; }
      header .nav .menu .boton a {
        text-decoration: none;
        color: #333232; }
        header .nav .menu .boton a:hover {
          color: #e1e8ee;
          font-style: italic; }

main {
  background-color: #9fcfdf;
  padding: 10em;
  display: flex;
  gap: 10px; }
  main .letras {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column; }
    main .letras .titulo1 {
      font-weight: bold;
      font-size: 2em;
      padding-bottom: 0.4em; }
    main .letras .description {
      font-size: 1.2em;
      font-style: italic; }
  main img {
    width: 47em;
    border-radius: 2em; }

footer {
  background-color: #eaf2f8;
  padding: 3em;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center; }
  footer .email {
    border-style: solid;
    border-color: blue;
    border: 5px;
    height: 30px;
    font-family: 'Nunito', sans-serif;
    padding: 0.5em; }
  footer .botonSub {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    height: 30px;
    padding: 8px;
    background-color: #333232;
    color: #e1e8ee;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /*@extend .email <- si quisiera que .botonSub adquiera las propiedades de .email */ }
    footer .botonSub:hover {
      color: lightseagreen;
      font-size: 102%; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer ul li {
      padding: 0.6rem;
      background-color: black; }
    footer ul img {
      width: 30px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #5e98ac;
  font-family: 'Nunito', sans-serif;
  font-weight: 800; }
