@mixin buttonStyle(){
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    height: 30px;
    padding: 8px;
    background-color: $bg-botones;
    color: $botones-text;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover{
        color: lightseagreen;
        font-size: 102%;
    }
}

footer{
    background-color: $bg-footer;
    padding: 3em;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .suscribe__footer{
        font-family: 'Nunito', sans-serif;
    }
    .email{
        border-style: solid;
        border: 5px;
        height: 30px;
        font-family: 'Nunito', sans-serif;
        padding:0.5em
    }
    .botonSub{
       @include buttonStyle()
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li{
            padding: 0.6rem;
        }
             img{
            width: 30px;
        }
    }
}