@import "./utilities/variables";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5e98ac;
    font-family:'Nunito', sans-serif;
    font-weight: 800;
}
